<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>todo!!</title>
</head>
<body>

    {{{body}}}

<script src="assets/scripts/jQuery-2.1.3.js"></script>
<script src="assets/scripts/Underscore-1.8.3.js"></script>
<script src="assets/scripts/Backbone-1.1.2.js"></script>
<script src="assets/scripts/Handlebars-3.0.3.js"></script> 

<script src="app/scripts/main.js"></script>
<script src="app/scripts/models/todo.js"></script>
<script src="app/scripts/models/user.js"></script>
<script src="app/scripts/collections/todoscollection.js"></script>
<script src="app/scripts/collections/userscollection.js"></script>
<script src="app/scripts/controllers/todos.js"></script>
<script src="app/scripts/controllers/users.js"></script>
<script src="app/scripts/router.js"></script>

</body>
</html>